<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Conheça nossos produtos:</h1>
    <!-- TAGS EJS chamando a variável que veio do index.js -->
    <%= produto %>

    <!-- Condição para verificar se o produto não foi passado -->
     <% if (!produto) { %>
        <p><%= listaProdutos %></p>
     <% } %>

     <!-- forEach para percorrer a lista de produtos -->
      <% if(!produto) { %>
        <% listaProdutos.forEach((produto) => { %>
            <p><a href="/produtos/<%= produto %>"><%= produto %></a></p>
        <% }) %>
      <% } %>
</body>
</html>